{{extend 'layout.html'}}
  <script>
  $(function() {
    $( "#tabs" ).tabs();
    {{if session.curr_category:}}
    $("#tabs").tabs("select", "#tabs-{{=str(int(session.curr_category)+1)}}");
    {{pass}}
    
  });
  </script>

<style>
  .ui-tabs-vertical { width: 100%; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 80%;}
 </style>
   

<div style="text-align:center;">
<a class="btn btn-navbar" href="{{=URL('quotes','create')}}">
	<img src="{{=URL('static','images/write.png')}}"  >
	{{=T('Create Quote')}}
</a>

<a class="btn btn-navbar" href="{{=URL('quotes','search')}}">
	<img src="{{=URL('static','images/search.png')}}"  >
	{{=T('Search Quotes')}}
</a>
	
</div>	
</br>   

<div id="tabs" >
  <ul>
	  {{for i in categories:}}
		<li><a href="#tabs-{{=i+1}}">{{=categories[i]['name']}}</a></li>
	  {{pass}}
	  
	  
  </ul>
	{{for i in categories:}}
		<div id="tabs-{{=i+1}}" >
			{{=LOAD('quotes','Fetch_Subcategoris.load',args=['user',categories[i]['id']],ajax=True)}}
		 </div>
	{{pass}}	 
	
		
</div>
 
 
